body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #434343, #000000);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}