/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #000000, #434343);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.register-form h1 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: #333;
}

.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.input-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.input-group input:focus {
    border-color: #434343;
    outline: none;
    box-shadow: 0 0 5px rgba(67, 67, 67, 0.5);
}

button {
    width: 100%;
    padding: 0.8rem;
    background: linear-gradient(to right, #434343, #000000);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #000000, #434343);
}

.login-text {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
}

.login-text a {
    color: #434343;
    text-decoration: none;
}

.login-text a:hover {
    text-decoration: underline;
}
.input-group input[type="checkbox"] {
    width: auto;  
    margin-right: 10px;  
    margin-bottom: 8px;
  }
  
  .input-group label[for="admin"] {
    display: inline;  
    font-weight: normal;
    color: #333;
  }

  p {
    color: red;       
    font-size: 0.9em;  
  }